<html>
  <head>
    <title>Campaign Data</title>
  </head>
  <body>
    <h1><%=@customer_identifier%>'s Campaign Data</h1>
      <p>
        <h2><%=@campaignName%></h2>
          <h3>Events by time received</h3>
    <%@campaign_events_by_times_received.each do |event| %>
        <div><%=event %></a></div>
    <% end %>
      </p>

      <p>
        <h2>URL Hyperlinks</h2>
    <% [ "www.event1.com", "www.event2.com", "www.event3.com" ].each do |item| %>
        <div><a href="<%= item %>/index"><%= item %></a></div>
    <% end %>
      </p>

  </body>
</html>


<h1>all events in order of most received to least received</h1>
<h1>links to event specific data</h1>
