<html>
  <head>
    <title><%=@customer_identifier%></title>
  </head>
  <body>
    <h1><%=@customer_identifier%>'s Homepage</h1>
      <p>
        <h2>URLs by times requested</h2>
        <h4>Root URL: <%=@root_url%></h4>
          <ol>
            <%unless @urls_by_times_requested == nil%>
              <% @urls_by_times_requested.each do |url| %>
                  <div> <%=url%></div>
              <% end %>
            <%end%>
        </ol>
      </p>
      <p>
        <h2>URLs by response times</h2>
          <ol>
    <% @urls_by_response_time.each do |url| %>
        <div> <%=url%></div>
    <% end %>
        </ol>
      </p>
      <p>
        <h2>URL Hyperlinks</h2>
        <%unless @url_extension_array == nil%>
          <% @url_extension_array.each do |extension| %>
              <div><a href="/sources/<%=@customer_identifier%>/urls<%= extension %>"><%= extension %></a></div>
          <% end %>
        <%end%>
      </p>
      <p>
        <h2>Web Browser Breakdown</h2>
    <% @web_browsers_by_times_requested.each do |browser| %>
        <div> <%=browser%></div>
    <% end %>
      </p>
      <p>
        <h2>OS Breakdown</h2>
    <% @operating_systems_by_times_requested.each do |operating_system| %>
        <div> <%=operating_system%></div>
    <% end %>
      </p>
      <p>
        <h2>Sreen Resolution Breakdown</h2>
          <ol>
    <% @resolutions_by_times_requested.each do |resolutions| %>
        <div><%=resolutions%></a></div>
    <% end %>
        </ol>
      </p>
      <p>
        <h2><a href="/sources/<%=@customer_identifier%>/events">Event Index</a></h2>
<!-- <div><a href="/sources/<%=@customer_identifier%>/events"></a></div> -->
      </p>
  </body>
</html>
